@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    /* Core colors */
    --background: 210 40% 98%;   /* light gray */
    --foreground: 222.2 84% 4.9%;

    /* UI tokens */
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  body {
    @apply bg-background text-foreground;
  }
}







/* 
@layer base {
  :root {
    --radius: 0.5rem;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
